<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<index>CFBundleDevelopmentRegion</index>
	<string>en</string>
	<index>CFBundleExecutable</index>
	<string>$(EXECUTABLE_NAME)</string>
	<index>CFBundleIdentifier</index>
	<string>com.heynaveed.layloscave</string>
	<index>CFBundleInfoDictionaryVersion</index>
	<string>6.0</string>
	<index>CFBundleName</index>
	<string>Laylos Cave</string>
	<index>CFBundlePackageType</index>
	<string>APPL</string>
	<index>CFBundleShortVersionString</index>
	<string></string>
	<index>CFBundleSignature</index>
	<string>????</string>
	<index>CFBundleVersion</index>
	<string></string>
	<index>LSRequiresIPhoneOS</index>
	<true/>
	<index>UIRequiresFullScreen</index>
	<true/>
	<index>MOE.Main.Class</index>
	<string>com.heynaveed.layloscave.IOSMoeLauncher</string>
	<index>UIApplicationExitsOnSuspend</index>
	<false/>
	<index>UIRequiredDeviceCapabilities</index>
	<array>
		<string>armv7</string>
	</array>
	<index>UISupportedInterfaceOrientations</index>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<index>UISupportedInterfaceOrientations~ipad</index>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
